.filterContent {
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.filterWrap {
    text-align: center;
    margin: 0 10px;
    display: table-cell;
    vertical-align: middle;
}

.filterTitle {
    font-weight: 700;
    font-size: 16px;
}

.filterSection {
    width: 150px;
    height: 35px;
}

.filterItem {
    text-align: center;
}

.buttonWrap {
    display: flex;
    text-align: center;
}

.buttonItem {
    border: none;
    background-color: #f8f9fa;
    cursor: pointer;
}

.buttonItem:hover {
    transition: all ease 0.1s;
    transform: scale(1.02);
}

.buttonImage {
    width: 36px;
    height: 36px;
}
